<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings>
        <clear />
        <add key="fontSize" value="22" />
        <add key="fontFamily" value="华文新魏" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>

    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="logger" switchName="switcher">
                <listeners>
                    <add name="textWriterListener" traceOutputOptions="None"
                       type="System.Diagnostics.TextWriterTraceListener" initializeData="app.log"></add>
                </listeners>
            </source>
        </sources>

        <switches>
            <add name="switcher" value="Verbose" />
        </switches>
    </system.diagnostics>
</configuration>
